<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="baeedf">  <td>18/09/23 10:40:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcaseWeek6.day1.TC002_CreateLead@5abca1e0]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/23 10:40:32</td>   <td>-156</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcaseWeek6.day1.TC002_CreateLead@5abca1e0]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/09/23 10:40:33</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.cLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcaseWeek6.day1.TC002_CreateLead@5abca1e0]">cLead</td> 
  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/09/23 10:40:33</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.cLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcaseWeek6.day1.TC002_CreateLead@5abca1e0]">cLead</td> 
  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/09/23 10:40:33</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData1()[pri:0, instance:testcaseWeek6.day1.TC002_CreateLead@5abca1e0]">&gt;&gt;setData1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
</table>
